@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

/*GENERAL###############################################################################################################*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body.default {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
  padding: 1rem;
  background: rgb(25, 102, 147);
}

/*HEADER###############################################################################################################*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header > img {
  width: 2.5rem;
}

header > h1 {
  font-weight: 600;
  font-size: 2.2rem;
}

/*MAIN#################################################################################################################*/
main {
  flex-grow: 1;
}

main > h2 {
  font-size: 1.3rem;
  font-weight: 500;
  text-align: center;
  margin: 1.5rem 0;
  color: #fff;
}

/*form*/
form {
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

form > input {
  padding: 1rem;
  font-family: 'Montserrat', sans-serif;
  border-radius: 30px 0 0 30px;
  border: 1px solid rgb(201, 201, 201);
  width: 80%;
  font-size: 1rem;
  position: relative;
  z-index: 2;
  height: 53px;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 30px 30px 0;
  width: 50px;
  height: 53px;
  position: relative;
  border: 1px solid rgb(201, 201, 201);
  background-color: rgb(201, 201, 201);
}

.search > img {
  width: 1.8rem;
}
/*SECTION WEATHER NOW*/
/*general*/
.weatherNow {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
    'skyState skyState skyState'
    'actualTemp maxTemp sunrise'
    'actualTemp minTemp sunset';
  margin: 2rem 0 0 0;
  justify-content: center;
  gap: 0.5rem;
  position: relative;
  overflow: hidden;
}

.actualTemp,
.maxTemp,
.minTemp,
.sunrise,
.sunset {
  padding: 1rem 0.4rem;
  background: rgba(37, 37, 37, 0.5);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.1px);
  -webkit-backdrop-filter: blur(7.1px);
  border: 1px solid rgba(37, 37, 37, 0.34);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  color: #fff;
}

/*sky state*/
.skyState {
  grid-area: skyState;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.skyState > h3:first-child {
  font-size: 2.2rem;
  flex-shrink: 1;
  font-weight: 500;
}

.skyState > h3:first-child::before {
  content: url(/css/icons/location.svg);
  margin-right: 0.2rem;
}

.skyState > h3:nth-child(2) {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.8rem;
  padding-left: 0.5rem;
  text-transform: uppercase;
}

/*actual temp*/
.actualTemp > h3:first-child {
  font-size: 1rem;
}

.actualTemp > h3:nth-child(2) {
  font-weight: 500;
}
.actualTemp {
  grid-area: actualTemp;
  font-size: 2.5rem;
  height: 100%;
}

/*max temp*/
.maxTemp {
  grid-area: maxTemp;
  font-size: 1.2rem;
  flex-direction: row;
  gap: 0.1rem;
  background: rgba(175 5 5/0.5);
  border: 1px solid rgba(175 5 5/0.34);
}

/*min temp*/
.minTemp {
  grid-area: minTemp;
  font-size: 1.2rem;
  flex-direction: row;
  gap: 0.1rem;
  background: rgba(5 15 123/ 0.5);
  border: 1px solid rgba(5 15 123/0.34);
}

/*sunrise*/
.sunrise {
  grid-area: sunrise;
  font-size: 0.8rem;
  height: 100%;
  flex-direction: row;
  gap: 0.1rem;
}

/*sunset*/
.sunset {
  grid-area: sunset;
  font-size: 0.8rem;
  height: 100%;
  flex-direction: row;
  gap: 0.1rem;
}

/*sunrise, sunset, maxTemp y minTemp*/
.sunrise > img,
.sunset > img,
.maxTemp > img,
.minTemp > img {
  width: 2rem;
}

.maxTemp > h3,
.minTemp > h3,
.sunrise > h3,
.sunset > h3 {
  font-weight: 500;
}

/*imagen bigIconWeather*/
.bigIconWeatherLeft {
  position: absolute;
  z-index: -1;
  bottom: 0rem;
  left: 0rem;
  transition: all 0 3s;
  animation: move 10s ease-in infinite;
}

@keyframes move {
  0% {
    bottom: 0px;
    left: 0px;
    opacity: 0;
    width: 4rem;
  }

  50% {
    opacity: 1;
  }

  100% {
    bottom: 150px;
    left: 120px;
    width: 8rem;
    opacity: 0;
  }
}

.bigIconWeatherRight {
  position: absolute;
  z-index: -1;
  top: 0rem;
  right: 0;
  transition: all 0 3s;
  animation: move2 10s ease-in infinite;
}

@keyframes move2 {
  0% {
    /* bottom: -10px; */
    right: 0px;
    opacity: 0;
    width: 4rem;
  }

  50% {
    opacity: 0.6;
  }

  100% {
    top: 60px;
    right: 120px;
    width: 8rem;
    opacity: 0;
  }
}
/*proximas horas*/
.pForecast {
  margin-top: 1.5rem;
  color: #fff;
  font-weight: 600;
  font-size: 1.5rem;
}

/*SECTION WEATHER FORECAST*/
/*general*/
.weatherForecast,
.weatherNextDays {
  display: grid;
  grid-auto-rows: 50px;
  grid-auto-columns: 1fr;
  gap: 0.5rem;
  margin: 0.2rem 0 1rem 0;
}

.forecastDiv {
  padding: 1rem 0.4rem;
  background: rgba(117, 165, 209, 0.5);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.1px);
  -webkit-backdrop-filter: blur(7.1px);
  border: 1px solid rgba(37, 37, 37, 0.34);
  width: 100%;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  font-size: 1rem;
}

.forecastDiv > h3 {
  font-weight: 600;
  font-size: 1rem;
  text-transform: uppercase;
}

.forecastDiv > img {
  width: 4.2rem;
}

/*FOOTER###############################################################################################################*/
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2rem;
  font-size: 0.8rem;
}
